:root {
  /* text */
  
  /* colors */
  --background-color: #0D0D0D;
  --heading-text-color: white;
  --paragraph-text-color: gray;
  --border-color: #1c1c1c;
  --accent-color: #3360FF;
  --focus-background: rgba(255, 255, 255, 0.02);
  --large-contain-color: #161616;
  --correct-answer: #00EE43;
  --incorrect-answer: #ED5555;

  /* spacing */
  --universal-margin: 10vw;
  --btn-vw-spacing: 32px;
  --btn-vh-spacing: 8px;
  --container-padding: 48px;
  --container-border-radius: 40px; 
  --button-border-radius: 16px;
}

.correct-answer {
  border-color: var(--correct-answer);
  background-color: green;
  border-width: medium;

}

.incorrect-answer {
  border-color: var(--incorrect-answer);
  border-width: medium;
  background-color: red;


}



* {
  font-family: 'Inter', sans-serif;
}

body, html {
  background-color: var(--background-color);
  width: 100vw;
  margin: 0;
}
/* libraries */
h1 {
  color: var(--heading-text-color);
  font-size: 3em;
  text-align: center;
  margin: 0 5vw;
  margin-bottom: 8vh;
}
h1 span {
  color: var(--accent-color);
}
h2 {
  color: var(--heading-text-color);
  font-size: 2.5em;
  text-align: center;
  line-height: 1.5;
}
p, textarea {
  color: var(--paragraph-text-color);
  font-size: 1.25em;
  line-height: 1.5;
}
textarea::placeholder{
  color: white;
  opacity: .25;
}


/* interactiivty */
*:focus {
  outline: none;
}





* {
    font-family: 'Inter', sans-serif;
}

body, html {
  background-color: var(--background-color);
  width: 100vw;
  margin: 0;
}


