:root {
  /* text /
  /* / colors / */
  --background-color: #0D0D0D;
  --heading-text-color: white;
  --paragraph-text-color: gray;
  --border-color: #252525;
  --accent-color: #3A29FE;

  /* / spacing */ 
  --universal-margin: 20vw;
  --btn-vw-spacing: 24px;
  --btn-vh-spacing: 16px;
  --container-padding: 40px;
  --container-border-radius: 40px; 
}

* {
    font-family: 'Inter', sans-serif;
}

body, html {
  background-color: var(--background-color);
  width: 100vw;
  margin: 0;
}

/* libraries */
h1 {
  color: var(--heading-text-color);
  font-size: 3em;
  text-align: center;
}

p, textarea {
  color: var(--paragraph-text-color);
  font-size: 1em;
  line-height: 1.5;
}