/* /* generate page / */

.main {
  display: grid;
  place-content: center;
  max-width: 100vw;
  height: 100vh;
  margin: 0 var(--universal-margin);

}

.generate-contain {
  margin: 0 20vw;
}

/* / libraries /

/ buttons / */

/* / form container / */
.generate {
  width: 100%;
  margin: 0 auto;
  height: 20vh;
  resize: none;
  border-radius: var(--container-border-radius);
  padding: var( --container-padding) var( --container-padding);
  border: var(border-color) 6px solid;
  background-color: var(--background-color);
  transition: border-color 200ms;
}

.icon-button {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
}

/* / interactivity */ 

.generate:hover {
  border-color: var(--accent-color);
}

.generate:focus {
  color: white;
  border-color: var(--accent-color);
}